<!--
 * @Description: 
 * @Author: 张泽雨
 * @Date: 2022-04-22 17:05:24
 * @LastEditors: 张泽雨
 * @LastEditTime: 2022-05-15 22:51:07
 * @FilePath: \unlimitedfe-DiDi\unlimitedServer\view\unlimitedfe\index.html
-->
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" />
    <title>虚拟设备平台</title>
    <link href="js/index.js" rel="preload" as="script" />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but 虚拟设备平台 doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
